<div class="flex flex-col items-center justify-center w-full w-screen h-screen">
    <div class="w-full max-w-sm">
        <div class="prose prose-sm">
            
            <img decoding="async" class="img-with-animation skip-lazy animated-in" data-delay="0" height="52" width="312" src="https://images.g2crowd.com/uploads/product/image/social_landscape/social_landscape_146092c81bb89b8415aa5dbeeb75061b/strongmind.png" alt="">

            <h1 class="text-center">Pizza Management</h1>
            
            <p>
                UserName: 
                <mat-form-field appearance="outline">
                    <mat-label>UserName</mat-label>
                    <input matInput placeholder="Username" 
                        [(ngModel)]="userName"                    
                        [ngModelOptions]=" {standalone: true}">
                </mat-form-field>
            </p>
            <p>
                Password:
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" 
                        [(ngModel)]="password"                    
                        [ngModelOptions]=" {standalone: true}">
                </mat-form-field>
            </p>
        </div>
        <div class="text-center">
            <a
                class="mt-8"
                mat-flat-button
                [color]="'primary'"
                (click)="signIn()"
                [routerLink]="'/component-template'">
                <span>Sign In</span>
                <mat-icon
                    class="ml-2 icon-size-5"
                    [svgIcon]="'heroicons_mini:arrow-long-right'"></mat-icon>
            </a>
        </div>
    </div>
</div>
